
# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directory
.pnp/
.pnp.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# OS-specific files
.DS_Store
Thumbs.db

# Production
build/
dist/

# dotenv environment variables file
.env

# IDE
.vscode/
.idea/

# Editor-specific files
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
